@model ProgramacionWeb3Tp.Models.Pedido
@using ProgramacionWeb3Tp.Models

<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Empanadas</b> </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" data-toggle="control-sidebar" class="info"><i class="fa fa-arrow-left"></i> Volver al sitio</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Content/dist/img/avatar5.png" class="img-circle" alt="User Image">
                </div>
                <div class="info">
                    <h6>@Session["Usuario"]</h6>

                </div>
            </div>

            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Menu de opciones</li>
                <li class="">
                    @Html.ActionLink("Mis pedidos", "Pedidos", "Pedidos", new { @class = "" })

                </li>
                <li class="">
                    @Html.ActionLink("Iniciar pedido", "Iniciar", "Pedidos", new { area = "" }, new { @class = "" })
                </li>
                <li class="">
                    @Html.ActionLink("Copiar Pedido", "Pedidos", new { area = "", Copia = "S" })
                </li>
                <li class="">
                    @Html.ActionLink("Mis invitaciones", "Invitaciones", new { @class = "" })
                </li>
                <li>
                    @Html.ActionLink("Cerrar sesion", "Salir", "Home")
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Editar pedido
                <small></small>
            </h1>

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">


                    <div class="box">

                        <div class="box-body">

                            @using (Html.BeginForm("EditarPedido", "Pedidos", "Post"))
                            {
                                bool selec = false;
                                @Html.AntiForgeryToken()

                         
                                    <div id="login" align="center">
                                        <br />
                                        <div class="alert alert-warning alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h4>Estas editanto el pedido</h4>
                                            La edición no incluye cantidad de empanadas.
                                        </div>
                                        <div class="stepwizard">
                                            <div class="stepwizard-row setup-panel">
                                                <div class="stepwizard-step">
                                                    <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                                                    <p>Datos</p>
                                                </div>
                                                <div class="stepwizard-step">
                                                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                                    <p>Invitados</p>
                                                </div>
                                                <div class="stepwizard-step">
                                                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                                    <p>Gustos</p>
                                                </div>
                                            </div>
                                        </div>




                                      
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Datos del pedido</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <!-- form start -->
                                            <div class="box-body">
                                                <div class=" setup-content" id="step-1">

                                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                                    @Html.HiddenFor(model => model.IdPedido)
                                                    <div class="form-group col-md-6 col-md-offset-3">
                                                        @Html.LabelFor(model => model.NombreNegocio, htmlAttributes: new { @class = "" })
                                                        @Html.EditorFor(model => model.NombreNegocio, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del negocio", autocomplete = "off" } })
                                                        @Html.ValidationMessageFor(model => model.NombreNegocio, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-6 col-md-offset-3">
                                                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "" })
                                                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Descripcion del pedido", autocomplete = "off" } })
                                                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-6 col-md-offset-3">
                                                        @Html.LabelFor(model => model.PrecioUnidad, htmlAttributes: new { @class = "" })
                                                        @Html.EditorFor(model => model.PrecioUnidad, new { htmlAttributes = new { @class = "form-control", placeholder = "Precio unitario", autocomplete = "off" } })
                                                        @Html.ValidationMessageFor(model => model.PrecioUnidad, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-6 col-md-offset-3">
                                                        @Html.LabelFor(model => model.PrecioDocena, htmlAttributes: new { @class = "" })
                                                        @Html.EditorFor(model => model.PrecioDocena, new { htmlAttributes = new { @class = "form-control", placeholder = "Precio unitario", autocomplete = "off" } })
                                                        @Html.ValidationMessageFor(model => model.PrecioDocena, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group col-lg-6 col-lg-offset-3">
                                                        <button class="btn btn-success nextBtn btn-lg btn-block pull-center" type="button">Siguiente</button>
                                                    </div>


                                                </div>
                                                <div class=" setup-content" id="step-2">
                                                    <div id="ListInvitados" class="form-group col-lg-6 col-lg-offset-3">
                                                        @if ((ViewBag.invitados != null))

                                                        {
                                                            <select class="form-control col-6 select2 select2-hidden-accessible " multiple="" name="SelecInvitados" data-placeholder="Seleccione invitados" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                                                @foreach (Usuario item in ViewBag.invitados)
                                                                {
                                                                    selec = false;
                                                                    foreach (InvitacionPedido invitado in Model.InvitacionPedido)
                                                                    {
                                                                        if (item.IdUsuario == invitado.IdUsuario)
                                                                        {
                                                                            selec = true;
                                                                        }

                                                                    }

                                                                    if (selec)
                                                                    {
                                                                        <option id="@item.IdUsuario" value="@item.IdUsuario" selected="selected"> @item.Email </option>}
                                                                    else
                                                                    {
                                                                        <option id="@item.IdUsuario" value="@item.IdUsuario">@item.Email</option>}

                                                                }
                                                            </select>
                                                        }


                                                    </div>
                                                    <div class="form-group col-lg-6 col-lg-offset-3">
                                                        <button class="btn btn-success nextBtn btn-lg btn-block pull-center" type="button">Siguiente</button>
                                                    </div>

                                                </div>
                                                <div class=" setup-content" id="step-3">
                                                    <div id="ListInvitados" class="form-group col-lg-6 col-lg-offset-3">

                                                        @if ((ViewBag.gustos != null))

                                                        {

                                                            <select class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Seleccione gustos" name="SelecGustos" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                                                @foreach (GustoEmpanada item in ViewBag.gustos)
                                                                {
                                                                    selec = false;
                                                                    foreach (GustoEmpanada gusto in Model.GustoEmpanada)
                                                                    {
                                                                        if (item.IdGustoEmpanada == gusto.IdGustoEmpanada)
                                                                        {
                                                                            selec = true;
                                                                        }
                                                                    }

                                                                    if (selec)
                                                                    {
                                                                        <option id="@item.IdGustoEmpanada" value="@item.IdGustoEmpanada" selected="selected">@item.Nombre</option>}
                                                                    else
                                                                    {
                                                                        <option id="@item.IdGustoEmpanada" value="@item.IdGustoEmpanada">@item.Nombre</option>}


                                                                }
                                                            </select>
                                                        }
                                                    </div>
                                                    <div class="form-group col-lg-6 col-lg-offset-3">
                                                        <input type="submit" name="submit" class="btn btn-info" value="Editar Pedido" onClick="return true;" />
                                                    </div>


                                                </div>
                                            </div>
                             

                                    </div>
                             


                            }


                            </div>
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
