@model IEnumerable<ProgramacionWeb3Tp.Models.Pedido>
<h3>Mis invitaciones</h3>

<table id="datatable" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr class="tabletr">
            <th width="3%">#</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th width="10%">Unidad</th>
            <th width="10%">Docena</th>
            <th>Creacion</th>
            <th>Modificacion</th>
            <th>Estado</th>
            <th>Creador</th>
            <th width="10%">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr class="tabletr">
            <td>@Html.DisplayFor(modelItem => item.IdPedido)</td>
            <td>@Html.DisplayFor(modelItem => item.NombreNegocio)</td>
            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
            <td>@Html.DisplayFor(modelItem => item.PrecioUnidad)</td>
            <td>@Html.DisplayFor(modelItem => item.PrecioDocena)</td>
            <td>@Html.DisplayFor(modelItem => item.FechaCreacion)</td>
            <td>@Html.DisplayFor(modelItem => item.FechaModificacion)</td>
            <td>@Html.DisplayFor(modelItem => item.EstadoPedido.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Usuario.Email)</td>
            <td>
                <a href="#" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
            </td>
        </tr>
        }


    </tbody>
</table>

<div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> “¿Está seguro que desea eliminar el pedido?</div>
            </div>
            <div class="modal-footer ">

                @using (Html.BeginForm("EliminarPedido", "Pedidos", FormMethod.Post))
                {
                    @Html.Hidden("pedidoId");
                    <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No, Cancelar accion</button>
                    <button type="submit" name="pedidoId" class="btn btn-danger" href><span class="glyphicon glyphicon-ok"></span> Si, quiero eliminarlo</button>
                }

            </div>
        </div>
    </div>
</div>
