@model IEnumerable<ProgramacionWeb3Tp.Models.Pedido>
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Empanadas</b> </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            
            <div class="navbar-custom-menu">
               
                    <ul class="nav navbar-nav">

                        <li>
                            <a href="/" data-toggle="control-sidebar" class="info"><i class="fa fa-arrow-left"></i> Volver al sitio </a>
                        </li>

                    </ul>
               
            </div>
           
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Content/dist/img/avatar5.png" class="img-circle" alt="User Image">
                </div>
                <div class="info">
                    <h6>@Session["Usuario"]</h6>

                </div>
            </div>

            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Menu de opciones</li>
                <li class="active">
                    @Html.ActionLink("Mis pedidos", "Pedidos", "Pedidos", new { @class = "" })

                </li>
                <li class="">
                    @Html.ActionLink("Iniciar pedido", "Iniciar", "Pedidos", new { area = "" }, new { @class = "" })
                </li>
                <li class="">
                    @Html.ActionLink("Copiar Pedido", "Pedidos", new { area = "", Copia = "S" })
                </li>
                <li class="">
                    @Html.ActionLink("Mis invitaciones", "Invitaciones", new { @class = "" })
                </li>
                <li>
                  @Html.ActionLink("Cerrar sesion", "Salir", "Home")
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Mis pedidos
                <small>Todos los pedidos abiertos y cerrados</small>
            </h1>

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">


                    <div class="box">

                        <div class="box-body">


                            <table id="dataTable" class="table table-striped table-bordered" cellspacing="0">
                                <thead>
                                    <tr class="tabletr">
                                        <th width="3%">#</th>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th width="10%">Unidad</th>
                                        <th width="10%">Docena</th>
                                        <th>Creacion</th>
                                        <th>Modificacion</th>
                                        <th width="10%">Acciones</th>
                                        <th>Estado</th>
                                        <td>Finalizar</td>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="tabletr">
                                            <td>@Html.DisplayFor(modelItem => item.IdPedido)</td>
                                            <td>@Html.DisplayFor(modelItem => item.NombreNegocio)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PrecioUnidad)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PrecioDocena)</td>
                                            <td>@Html.DisplayFor(modelItem => item.FechaCreacion)</td>
                                            <td>@Html.DisplayFor(modelItem => item.FechaModificacion)</td>

                                            <td>
                                                @if ((ViewBag.ModoCopia != null && ViewBag.ModoCopia == "S"))
                                                {
                                                    @Html.ActionLink("Copiar", "Copiar", new { id = item.IdPedido }, new { @class = "btn btn-danger btn-md btn-block" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Editar", "EditarPedido", new { id = item.IdPedido, estado = item.EstadoPedido }, new { @class = "btn btn-info btn-xs" })
                                                    <a href="#modalEliminar" class="btn btn-danger btn-xs" data-toggle="modal" data-pedido-id="@Html.DisplayFor(modelItem => item.IdPedido)" data-pedido-nombre="@Html.DisplayFor(modelItem => item.NombreNegocio)"><span class="glyphicon glyphicon-trash"></span></a>
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.EstadoPedido.Nombre)</td>
                                            <td>
                                                @if (item.IdEstadoPedido == 1)
                                                {
                                                    <a href="#modalCierre" class="btn btn-warning btn-xs" data-toggle="modal" data-pedido-id="@Html.DisplayFor(modelItem => item.IdPedido)">Finalizar</a>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Detalle", "Detalle", new { idPedido = item.IdPedido }, new { @class = "btn btn-info btn-xs" })
                                                }
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                            <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title custom_align" id="Heading">Eliminar pedido</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> “¿Está seguro que desea eliminar el pedido?</div>

                                            <input type="text" name="nombreNegocio" value="nombreNegocio" />
                                            <p id="nombreNegocio"></p>
                                            <p name="nombreNegocio"></p>

                                        </div>
                                        <div class="modal-footer ">

                                            @using (Html.BeginForm("EliminarPedido", "Pedidos", FormMethod.Post))
                                            {
                                                <input type="hidden" name="pedidoId" value="pedidoId" />
                                                <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No, Cancelar accion</button>
                                                <button type="submit" name="pedidoId" class="btn btn-danger" href><span class="glyphicon glyphicon-ok"></span> Si, quiero eliminarlo</button>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="modalCierre" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title custom_align" id="Heading">Finalizar pedido</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-info"><span class="glyphicon glyphicon-warning-sign"></span> ¿Está seguro que desea finalizar el pedido?</div>
                                        </div>
                                        <div class="modal-footer ">
                                            @using (Html.BeginForm("FinalizarPedido", "Pedidos", FormMethod.Post))
                                            {
                                                <input type="hidden" name="pedidoId" value="pedidoId" />
                                                @Html.Display("pedidoId");
                                                <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No, Cancelar accion</button>
                                                <button type="submit" name="pedidoId" class="btn btn-success" href><span class="glyphicon glyphicon-ok"></span> Si, quiero Finalizarlo</button>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>